@font-face {
  font-family: 'abibasmedium';
  src: url('../fonts/abibas-webfont.woff') format('woff2'),
    url('../fonts/abibas-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
