body {
  font-family: "Montserrat";
  color: #212529;
}

.navbar {
  width: 100%;
  background-color: #333333;
  position: absolute;
  top: 0;
  left: 0;
  height: 4em;
  display: flex;
  align-items: center;
}
.navbar-sons {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.nav-iconimg {
  height: 100%;
  width: 100%;
}
.nav-img {
  width: 3%;

  margin-left: 40px;
}
.navbar-sons .nav-link {
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.myInput {
  background-image: url("../imgs/kindpng_698613\ \(1\).png"); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  background-size: 20px;
  width: 50%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

.search-bar {
  padding: 2%;
  align-items: center;
}
