@font-face {
  font-family: 'abibasmedium';
  src: url('../fonts/abibas-webfont.woff') format('woff2'),
    url('../fonts/abibas-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,400&display=swap');

body {
  font-family: 'Montserrat';
  color: #212529;
}

.navbar {
  width: 100%;
  background-color: #5da2e7;
  height: 4em;
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 10px #d9d9d9;
}
.navbar-sons {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.navbar-sons .nav-link {
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.myInput {
  background-image: url('../imgs/kindpng_698613\ \(1\).png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  background-size: 20px;
  width: 50%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

.search-bar {
  padding: 2%;
  align-items: center;
}
